﻿@{
    ViewData["Title"] = "Stock";
    ViewData["CrumbPageName"] = "Stock";
}
<!--alert-->


<div aria-live="polite" aria-atomic="true" style="position: relative; top:-29px; z-index:1;">
    <div class="toast hide" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto">Customer</strong>
            <button type="button" id="toast-close" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<section>
    <div class="Stock">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase">STOCK LIST</span>
                            <span class="caption-helper">A list of all stocks</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                            <table id="TableStock" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Purchase Qty</th>
                                        <th>Sales Qty</th>
                                        <th>Stock Qty</th>
                                    </tr>
                                </thead>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="formwrapper"></div>


<script>
    $(document).ready(function () {

        $('#TableStock').dataTable({
            "ajax": {
                "url": "/Stock/GetAll",
                "dataType": "json",
                "cache": false,
                "dataSrc": ""
            },
            "order": [[0, "desc"]],
            columns: [
                { 'data': 'name' },
                { 'data': 'purchase' },
                { 'data': 'sales' },
                { 'data': 'inStock' },
            ]
        });

    });

</script>
