﻿@model IEnumerable<InventorySystem.Models.Sales>
@{
    ViewData["Title"] = "Sales";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }
</style>

<section>
    <div class="BillingDetail">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> BILLING DETAILS</span>
                            <span class="caption-helper"></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">


                            <div class="row" id="billDetails">
                                <div class="col-md-12"><em>Bill No: </em>@ViewData["bill"]</div>
                                <div class="col-md-12"><em>CustomerName: </em>@ViewData["name"]</div>
                                <div class="col-md-12"><em>Date: </em>@ViewData["date"]</div>
                           
                            </div>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>

                                            <th>
                                                @Html.DisplayNameFor(model => model.ProductName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Quantity)
                                            </th>
                                            <th>
                                               Unit Price
                                            </th>
                                            <th>
                                               Price
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SalePrice)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="3">Total</td>
                                            <td style="font-weight:bold">@ViewData["total"]</td>
                                        </tr>
                                    </tbody>
                                </table>     

                                 <div class="text-right">
                                     <input type="button" class="btn btn-danger" id="btnPrintBill" onClick="window.print()" value="Print"/>
                                </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



       

