﻿@{
    ViewData["Title"] = "Billing";
    ViewData["CrumbPageName"] = "Billing";
}
<section>
    <div class="Billing">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> BILLING LIST</span>
                            <span class="caption-helper"></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                            <table id="TableBilling" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Bill Id</th>
                                        <th>Customer</th>
                                        <th>BillDate</th>

                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        $('#TableBilling').dataTable({
            "ajax": {
                "url": "/Billing/GetAll",
                "dataType": "json",
                "cache": false,
                "dataSrc": ""
            },
            "order": [[0, "desc"]],
            columns: [
                {
                    "data": "billId", "name": "billId",
                    fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='/Billing/Detail/" + oData.billId + "'>" + oData.billId + "</a>");
                    }
                },
                { 'data': 'customer' },
                { 'data': 'billDate', "render": function (data) { return moment(data).format('YYYY/MM/DD hh:mm a') } },

            ]
        });

    })

</script>
