﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - Inventory System</title>
    <meta name="description" content="SMG Accounting System">
    <meta name="author" content="SMG Accounting System">

    <environment include="Development">

        <link rel="shortcut icon" href="~/theme/images/favicon.ico">
        <link href="~/theme/plugins/switchery/switchery.min.css" rel="stylesheet" />
        <link href="~/theme/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/theme/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="~/theme/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/lib/jqueryUI/jqueryUI.css" />
        <link href="~/css/common.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/dataTable/datatable.css">
    </environment>

    <environment exclude="Development">
       
        <link rel="shortcut icon" href="~/theme/images/favicon.ico">
        <link href="~/theme/plugins/switchery/switchery.min.css" rel="stylesheet" />
        <link href="~/theme/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="~/theme/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="~/theme/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="~/lib/jqueryUI/jqueryUI.css" />
        <link href="~/css/common.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/dataTable/datatable.css">
    </environment>

    <environment include="Development">
        <script src="~/theme/js/modernizr.min.js"></script>
        <script src="~/theme/js/jquery.js"></script>
        <script src="~/theme/js/moment.min.js"></script>
        <script src="~/theme/js/utils.js"></script>
        <script src="~/theme/js/popper.js"></script>
        <script src="~/theme/js/bootstrap.js"></script>
        <script src="~/theme/js/fastclick.js"></script>
        <script src="~/theme/js/jquery.nicescroll.js"></script>
        <script src="~/theme/js/jquery.scrollTo.min.js"></script>
        <script src="~/theme/js/jquery.blockUI.js"></script>
        <script src="~/theme/plugins/switchery/switchery.min.js"></script>
        <script src="~/theme/js/pikeadmin.js"></script>
        <script src="~/lib/jqueryUI/jqueryUI.js"></script>
        <script src="~/lib/dataTable/datatable.js"></script>
        <script src="~/lib/chartJS/chart.js"></script>
        <script src="~/app/stock.js"></script>

    </environment>

    <environment exclude="Development">
        <script src="~/theme/js/modernizr.min.js"></script>
        <script src="~/theme/js/jquery.js"></script>
        <script src="~/theme/js/moment.min.js"></script>
        <script src="~/theme/js/utils.js"></script>
        <script src="~/theme/js/popper.js"></script>
        <script src="~/theme/js/bootstrap.js"></script>
        <script src="~/theme/js/fastclick.js"></script>
        <script src="~/theme/js/jquery.nicescroll.js"></script>
        <script src="~/theme/js/jquery.scrollTo.min.js"></script>
        <script src="~/theme/js/jquery.blockUI.js"></script>
        <script src="~/theme/plugins/switchery/switchery.min.js"></script>
        <script src="~/theme/js/pikeadmin.js"></script>
        <script src="~/lib/jqueryUI/jqueryUI.js"></script>
        <script src="~/lib/dataTable/datatable.js"></script>
        <script src="~/lib/chartJS/chart.js"></script>
        <script src="~/app/stock.js"></script>
    </environment>



</head>

<body class="adminbody">
    <div id="main">
        <div class="headerbar">

            <!-- LOGO -->
            <div class="headerbar-left">
                <a href="~/home/index" class="logo"><span>Inventory system</span></a>
            </div>

            <nav class="navbar-custom">
                <ul class="list-inline float-right mb-0">


                    <li class="list-inline-item dropdown notif">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="fa fa-fw fa-bell-o"></i><span class="notif-bullet"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5>
                                    <small>Low Stock Alerts</small>
                                    <span class="badge badge-custom pull-right">2</span>
                                </h5>
                            </div>
                        </div>
                    </li>

                    @if (User.Identity.IsAuthenticated)
                    {
                    <li class="list-inline-item dropdown notif">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                             @User.Identity.Name <img src="~/theme/images/avatars/admin.png" alt="Profile image" class="avatar-rounded" id="avatar">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                            <!-- item-->
                            <a href="@Url.Action("Logout", "User")" class="dropdown-item notify-item" style=" padding: 10px; border: 1px solid #d9d6d6;">
                                <i class="fa fa-power-off"></i> <span>Logout</span>
                            </a>
                        </div>
                    </li>
                    }

                </ul>

            </nav>
        </div>

        <!-- Left Sidebar -->
        <div class="left main-sidebar">
            <div class="sidebar-inner leftscroll">
                <div id="sidebar-menu">

                    <ul>
                        <li class="submenu">
                            <a href="#test" data-toggle="collapse"><i class="fa fa-fw fa-building"></i> <span> Back Office </span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li id="test" class="submenu collapse">
                                    <a href="@Url.Action("Index", "GeneralLedger")"><i class="fa fa-fw fa-book"></i><span>Ledger </span></a>
                                </li>

                                <li>
                                    <a href="javascript:;"><i class="fa fa-product-hunt"></i> <span>Product</span> <span class="menu-arrow"></span></a>
                                    <ul class="list-unstyled">
                                        <li><a href="@Url.Action("Index", "Product")">Product</a></li>
                                        <li><a href="@Url.Action("Index", "ProductGroup")">Product Group</a></li>
                                        <li><a href="@Url.Action("Index", "Company")">Company</a></li>
                                        <li><a href="@Url.Action("Index", "Generic")">Generic</a></li>
                                        <li><a href="@Url.Action("Index", "UOM")">UOM</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <ul>
                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                            <li class="submenu">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i><span>Dashboard</span> </a>
                            </li>

                            <li class="submenu">
                                <a href="#" class="subdrop"><i class="fa fa-area-chart"></i> <span> Sales Report </span> <span class="menu-arrow"></span></a>
                                <ul class="list-unstyled" style="display: block;">
                                    <li class="submenu">
                                        <a class="nav-link" asp-area="" asp-controller="TotalSalesReport" asp-action="Index"><span> Total </span> </a>
                                    </li>
                                    <li class="submenu">
                                        <a class="nav-link" asp-area="" asp-controller="SalesReport" asp-action="Index"><span> Product-Wise </span> </a>
                                    </li>
                                    <li class="submenu">
                                        <a class="nav-link" asp-area="" asp-controller="SalesCategoryReport" asp-action="Index"><span> Category-Wise </span> </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="submenu">
                                        <a class="nav-link" asp-area="" asp-controller="Prediction" asp-action="Index"><span> <i class="fa fa-line-chart"></i>Prediction </span> </a>
                                </li>

                            @*<li class="submenu">
                                <a class="nav-link" asp-area="" asp-controller="TotalSalesReport" asp-action="Index"><i class="fa fa-area-chart"></i><span>Total Sales </span> </a>
                                </li>
                                <li class="submenu">
                                <a class="nav-link" asp-area="" asp-controller="SalesReport" asp-action="Index"><i class="fa fa-area-chart"></i><span> Product Wise Sales </span> </a>
                                </li>
                                <li class="submenu">
                                <a class="nav-link" asp-area="" asp-controller="SalesCategoryReport" asp-action="Index"><i class="fa fa-area-chart"></i><span> Category Wise Sales </span> </a>
                                </li>*@
                        }

                        <li class="submenu">
                            <a class="nav-link" asp-area="" asp-controller="Purchase" asp-action="Index"><i class="fa fa-shopping-cart"></i><span>Purchase </span> </a>
                        </li>
                        <li class="submenu">
                            <a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index"><i class="fa fa-archive"></i><span>Product</span> </a>
                        </li>
                      
                        <li class="submenu">
                            <a class="nav-link" asp-area="" asp-controller="Sales" asp-action="Index"><i class="fa fa-line-chart"></i><span>Sales </span> </a>
                        </li>

                        <li class="submenu">
                            <a class="nav-link" asp-area="" asp-controller="Billing" asp-action="Index"><i class="fa fa-calculator"></i><span>Billing </span> </a>
                        </li>

                        <li class="submenu">
                            <a class="nav-link" asp-area="" asp-controller="Stock" asp-action="Index"><i class="fa fa-th"></i><span>Stock </span> </a>
                        </li>

                        <li class="submenu">
                            <a class="nav-link" asp-area="" asp-controller="ProductType" asp-action="Index"><i class="fa fa-product-hunt"></i><span> Product Type</span> </a>
                        </li>


                        @* <li class="submenu">
                            <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Index"><i class="fa fa-users"></i><span> Customer</span> </a>
                        </li> *@


                        @if (User.IsInRole("Admin"))
                        {
                            <li class="submenu">
                                <a class="nav-link" asp-area="" asp-controller="UserManagement" asp-action="Index"><i class="fa fa-users"></i><span> User Management</span> </a>
                            </li>

                            @* <li class="submenu">
                                <a class="nav-link" asp-area="" asp-controller="Roles" asp-action="Index"><i class="fa fa-users"></i><span> Role</span> </a>
                            </li> *@

                        }                    

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- End Sidebar -->


        <div class="content-page">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="breadcrumb-holder">
                                <h1 class="main-title float-left">@ViewData["PageName"]</h1>
                                <ol class="breadcrumb float-right">
                                    <li class="breadcrumb-item">Home</li>
                                    <li class="breadcrumb-item active">@ViewData["CrumbPageName"]</li>
                                </ol>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!-- END container-fluid -->
            </div>
            <!-- END content -->
        </div>
        <!-- END content-page -->

        @* <footer class="footer">
            <span class="text-right">
                 <a target="_blank" href="#">copyrigh</a>
            </span>
            <span class="float-right">
                 <a target="_blank" href="SMG"><b>Smart Munim-G</b></a>
            </span>
        </footer> *@

    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>