﻿@model InventorySystem.Models.Item
@{
    ViewData["Title"] = "Index";
}


<div class="modal" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="GodonwModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="itemForm">
                    

                        @if (Model != null)
                        {<input type="hidden" asp-for="Id" />}
                      

                        <div id="itemRow">

                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="col-md-2">
                                    <input class="product-input" asp-for="ProductName" placeholder="Product Name" />
                                    <span asp-validation-for="ProductName" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <select asp-for="Category" asp-items="@ViewBag.Category"><option>Choose Category</option></select>
                                    <span asp-validation-for="Category" class="text-danger"></span>
                                </div>

                                @*<div class="col-md-2">
                                    <select asp-for="Unit" asp-items="@ViewBag.Unit"><option>Choose Unit</option></select>
                                    <span asp-validation-for="Unit" class="text-danger"></span>
                                </div>

                                <div class="col-md-1">
                                    <input class="product-input" asp-for="Quantity" placeholder="Quantity" />
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                                <div class="col-md-2">
                                    <input class="product-input" asp-for="PurchasePrice" placeholder="Purchase price" />
                                    <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <input class="sales-input" asp-for="SalePrice" placeholder="Sale Price" />
                                    <span asp-validation-for="SalePrice" class="text-danger"></span>
                                </div>

                                <div class="col-md-1">
                                    <input class="product-input" asp-for="Date" placeholder="Date" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>

                                @if (Model == null)
                                {<span class="removeRow"><i class="fa fa-close"></i></span>}

                                    *@

                            </div>
                        
                                @*<div class="col-md-1">
                                <span class="removeRow"><i class="fa fa-close"></i></span>
                                 </div>*@
                        </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id='btn-close' data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-secondary" id="btnSaveItem">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".addRow").on('click', function () {
        var row = $("#itemRow").clone()
        $("#itemForm").append(row)
    })

     $("#itemForm").on('click', '.removeRow', function () {
        (this).closest("#itemRow").remove()
     })

    $("#ProductName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "Item/GetProduct",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function (data) {
                    response(data);
                }
            });
        },
         minLength: 2
    })

</script>

