@{
    ViewData["Title"] = "Prediction";
    ViewData["CrumbPageName"] = "Prediction";
}


<section>
    <div class="Product">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> Prediction </span>
                            <span class="caption-helper"></span>
                        </div>
                        <div class="actions">
                            <a href="~/godown/index" class="btn btn-red btn-circle active">
                                <i class="fa fa-list-ul"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnAddProduct">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnSearchGodown">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                            <table id="salesTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Sales</th>                                                                                                                  
                                    </tr>
                                </thead>
                            </table>

                        <br>
                         <button class="btn btn-block btn-pred" type="button" id="btnPrediction">Make Prediction for Next 12 months</button>

                             <div class="progress" style="display:none">           
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%">
                                Running ARIMA model 1% complete
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<br>

<section>    
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> prediction </span>
                            <span class="caption-helper">actual sale, predicted sale on actual sale, predicted future sale</span>
                        </div>                     
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                             <canvas id="lineChart" height="600"></canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>   
</section>

<br>

<div  id="predicted-section"  style="display:none">
<section>    
        <div class="row" >
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> future prediction </span>
                            <span class="caption-helper">Prediction of next 12 months</span>
                        </div>                     
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                             <canvas id="lineChartPredicted" height="600"></canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>   
</section>
</div>


<div id="formwrapper"></div>


<script>

$(document).ready(function () {

//CONFIG
const PRED_NUM = 12;
var DATA;
var WIDTH=5;
var PREDFLAG=false;

//HELPER FUNCTIONS
function GetArrayWithoutKey(data){
    let dataArray = []
    data.map(item => {
                let row = []
                row.push(moment(item.date).format('YYYY-MM-DD'))
                row.push(item.sales)

                const hasKey = 'pred' in item;
                if(item["pred"] != undefined){row.push(item.pred)}
                //row.push(item.per_diff)
                dataArray.push(row);                      
    })
    return dataArray;
}

Array.prototype.sample = function(){
  return this[Math.floor(Math.random()*this.length)];
}

function sleep(milliseconds) {
  const start = Date.now();
  while (Date.now() - start < milliseconds);
}

function progressBar(){
    width= WIDTH + [1,2,3].sample()
    WIDTH=width;
    if(WIDTH<95){
        text =  `Running ARIMA model ${width}% complete`
        $(".progress-bar").css("width",width+"%");
        $(".progress-bar").text(text)
    }
}


//START
$.ajax({
    type: "GET",
    url: "/Prediction/GetAll",
    dataType: 'JSON',
    success: function (_data) {    
        let data = GetArrayWithoutKey(_data)
        DATA =data;
        loadDataTable(data)
        ShowReport(data,PREDFLAG)
        $("#predicted-section").hide()
    },
});

//PREDCTION
    $("#btnPrediction").on('click',function(){

        //progress bar
        $(".progress").show()
        intId = setInterval(progressBar, 3000);   
        $(this).prop('disabled', true);

        sessionStorage.clear();
        if(sessionStorage.predData) {
            data = sessionStorage.predData
            lineChart.destroy();
            barChart.destroy();
            ShowReport(data,true)
        }
        else{
            $.ajax({
            type: "post",
            url: "/Prediction/Test",
            data : {_data: JSON.stringify(DATA)},
            success: function (salesdata) {   

                if (typeof intId !== 'undefined') {
                    clearInterval(intId)
                }         
                $(".progress").hide()       
                WIDTH =3;

                let data = GetArrayWithoutKey(salesdata.all_data) 
                sessionStorage.predData = data;

                lineChart.destroy();
                barChart.destroy();
                ShowReport(data,true)
                $(this).removeAttr('disabled');

                },
             error :function(){

                     if (typeof intId !== 'undefined') {
                         clearInterval(intId)
                     }      
                     $(".progress-bar").css("width","100%");
                     $(".progress-bar").text("Error reaching prediction server!!!")
                    $(this).prop('disabled', false);
               }
            });
        }
    })

function loadDataTable(data){

    $('#salesTable').dataTable( {
    data:data,
    column:[
    {title:"date"},
    {title:"sales"},
    ]
    } );
}

    function ShowReport(data,predFlag) {

    suppliedData = predFlag?data.slice(0,-PRED_NUM):data
    predictedData = predFlag?data.slice(data.length-PRED_NUM,):[]

    SalesDate = []
    actualSale = []
    predSale = []
    nextXSale = []

    $.each(suppliedData, function (k, v) {            
        SalesDate.push(moment(v[0]).format('YYYY/MM/DD'));
        actualSale.push(v[1]);
        predSale.push(v[2]);
    });

        nextXSale = predSale.slice()
        $.each(predictedData, function (k, v) {            
            SalesDate.push(moment(v[0]).format('YYYY/MM/DD'));
            nextXSale.push(v[2]);
    });

    predctionDate = SalesDate.slice(data.length-PRED_NUM,)
    predctionSales = nextXSale.slice(data.length-PRED_NUM,)

    var ctx = document.getElementById('lineChart').getContext('2d');
    lineChart = new Chart(ctx, {
        type: 'line',

        data: {
            labels: SalesDate,
            datasets: [
                {
                label: 'Sales',
                data: actualSale,
                backgroundColor: 'green',
                borderColor: 'green',
                borderWidth: 1
                },
                {
                label: 'Sales predicted',
                data: predSale,
                backgroundColor: 'red',
                borderColor: 'red',
                borderWidth: 1
                },
                {
                label: 'next X month predictction',
                data: nextXSale,
                backgroundColor: 'blue',
                borderColor: 'blue',
                borderWidth: 1
                }

            ]
        }, 
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    $("#predicted-section").show();
    var ctx = document.getElementById('lineChartPredicted').getContext('2d');
    barChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: predctionDate,
            datasets: [{
                label: 'Sales',
                data: predctionSales,
                    backgroundColor: 'blue',
                borderColor: 'blue',
                borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                },

            }
        }
    });
}

    });

</script>