﻿@model InventorySystem.Models.Purchase
@{
    ViewData["Title"] = "Index";
}


<div class="modal" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="GodonwModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Purchase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="purchaseForm">


                    @if (Model != null)
                    {
                        <input type="hidden" asp-for="Id" />
                    }

                    @if (Model == null)
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <span class="addRow btn btn-sm btn-secondary"><i class="fa fa-plus"> Add new row</i></span>
                            </div>
                        </div>
                    }
                <div id="purchaseRow">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-3">
                            <input class="ProductName" asp-for="ProductName" placeholder="Product Name" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <select asp-for="Category" asp-items="@ViewBag.Category"><option>Choose Category</option></select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>


                        <div class="col-md-1">
                            <input min="1" asp-for="Quantity" placeholder="Quantity" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <input min="1" asp-for="PurchasePrice" placeholder="Purchase price" />
                            <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                        </div>                       

                        <div class="col-md-2">
                            <input  asp-for="TotalAmount" placeholder="TotalAmount" />
                            <span asp-validation-for="TotalAmount" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <input type="datetime"  asp-for="PurchaseDate" placeholder="Purchase Date" />
                            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                                @if (Model == null)
                                {
                                    <span class="removeRow"><i class="fa fa-close"></i></span>
                                }
                        </div>


                    </div>

                </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id='btn-close' data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-secondary" id="btnSavePurchase">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".addRow").on('click', function () {
        var row = $("#purchaseRow").clone()
        $(row).find("input").val("")
        $(row).find("select").val("")
        $("#purchaseForm").append(row)

        $("#purchaseForm").find(".ProductName:last").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "Purchase/GetProduct",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        let productList = [];
                        _data = data;
                        data.filter(x => productList.push(x.product))
                        response(productList);
                    }
                });
            },
             minLength: 2
        })

    })


    $("#purchaseForm").find("#ProductName:last").on("change", function () {
        if (_data != null) {
            let name = $(this).val();
            let product = _data.filter(x => x.product == name)[0]
            $(this).closest("#purchaseForm").find("#Category").val(product.category)
            $(this).closest("#purchaseForm").find("#Quantity").val(product.quantity)
            var purchaseDate = $(this).closest("#purchaseForm").find("#PurchaseDate");

            $(purchaseDate).datepicker()
            if ($(purchaseDate).val() == "") {
                $(purchaseDate).val(moment(new Date).format('YYYY-MM-DD HH:mm'))
            }
        }
    })

     $("#purchaseForm").on('click', '.removeRow', function () {
        (this).closest("#purchaseRow").remove()
     })


    $("#ProductName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "Purchase/GetProduct",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function (data) {
                    let productList = [];
                    _data = data;
                    data.filter(x => productList.push(x.product))
                    response(productList);
                }
            });
        },
         minLength: 2
    })


    $('#PurchaseDate').datepicker()
    if ($('#PurchaseDate').val() == "") {
        $('#PurchaseDate').val(moment(new Date).format('YYYY-MM-DD HH:mm'))
    }

    //validation
   function validate(){

        $("#purchaseForm input").removeClass("input-error");
        var errorFlag =0;     

        let ProductName = $("#ProductName").val()
        if(ProductName.length<1){
             $("#ProductName").addClass("input-error")
            errorFlag=1;
        }

        let Quantity = $("#Quantity").val();
        if(Quantity<0 || Quantity.length<1){
            $("#Quantity").addClass("input-error")
            errorFlag=1;
        }

        let PurchasePrice = $("#PurchasePrice").val();
        if(PurchasePrice<0 || PurchasePrice.length<1){
            $("#PurchasePrice").addClass("input-error")
            errorFlag=1;
        }

        let TotalAmount = $("#TotalAmount").val()
        if(TotalAmount<0 || TotalAmount.length<1){
             $("#TotalAmount").addClass("input-error")
            errorFlag=1;
        }

        return errorFlag?false:true
    }

</script>


