﻿@{
    ViewData["Title"] = "Purchase";
    ViewData["CrumbPageName"] = "Purchase";
}


<!--alert-->


<div aria-live="polite" aria-atomic="true" style="position: relative; top:-29px; z-index:1;">
    <div class="toast hide" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto">Purchase</strong>
            <button type="button" id="toast-close" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<section>
    <div class="Purchase">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> PURCHASE </span>
                            <span class="caption-helper"></span>
                        </div>
                        <div class="actions">
                            <a href="~/godown/index" class="btn btn-red btn-circle active">
                                <i class="fa fa-list-ul"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnAddPurchase">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnSearchGodown">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                            <table id="purchaseTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>ProductName</th>
                                        @*<th>Category</th>*@
                                        @*<th>Unit</th>*@
                                        <th>Quantity</th>
                                        <th>PurchasePrice</th>
                                        @*<th>SalePrice</th>*@
                                        <th>TotalAmount</th>
                                        <th>PurchaseDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="formwrapper"></div>


<script>

    $(document).ready(function () {

        $('#purchaseTable').dataTable({
            "ajax": {
                "url": "/Purchase/GetAll",
                "dataType": "json",
                "cache": false,
                "dataSrc": ""
            },
            "order": [[0, "desc"]],
            columns: [
                { 'data': 'id' },
                { 'data': 'productName' },
                //{ 'data': 'category' },
                { 'data': 'quantity' },
                { 'data': 'purchasePrice' },
                { 'data': 'totalAmount' },
                { 'data': 'purchaseDate', "render": function (data) { return moment(data).format('YYYY/MM/DD hh:mm a') } },
                { defaultContent: '<button class="btn btn-edit dtable-btn" id="btnEditPurchase"><i class="fa fa-pencil"></i></button> <button class="btn btn-delete dtable-btn"  id="btnDeletePurchase"> <i class="fa fa-trash"></i></button>' }
            ]
        });
        //closemodel
        $("#formwrapper").on("click", "#btn-close,.close", function () {
            $("#purchaseModal").hide();
        })

        //edit
        $("#purchaseTable").on("click", "#btnEditPurchase", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            getForm(id);
        })

        //delete
        $("#purchaseTable").on("click", "#btnDeletePurchase", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            $.ajax({
                type: "GET",
                url: "/Purchase/Delete/" + id,
                dataType: 'JSON',
                success: function () {
                    $('#purchaseTable').DataTable().ajax.reload(null, false);
                }
            });

        })

        //add
        $("#btnAddPurchase").on("click", function () {
            getForm();
        })

        function getForm(id) {
            data = { "Id": id }
            $.ajax({
                type: "Get",
                url: "/Purchase/GetForm",
                dataType: 'html',
                data: data,
                success: function (htmlresult) {
                    $("#formwrapper").html(htmlresult);
                    $("#purchaseModal").show();
                },
            });
        }


        //quantity value
        $("#formwrapper").on("change", "#Quantity,#PurchasePrice", function () {
            var quantity = $(this).closest("#purchaseRow").find("#Quantity").val()
            var salePrice = $(this).closest("#purchaseRow").find("#PurchasePrice").val()
            $(this).closest("#purchaseRow").find("#TotalAmount").val(quantity * salePrice);
        })

        //helperfunction

        function getPosition(string, subString, index) {
            return string.split(subString, index).join(subString).length;
        }

        //save
        $("#formwrapper").on("click", "#btnSavePurchase", function () {

             if(validate()){
                data = $("#purchaseForm").serialize();
                columnLength = 6

                var count = (data.match(/&/g) || []).length;
                loopCount = Math.round(count / columnLength)

                for (var i = 0; i < loopCount; i++) {
                    lastPos = getPosition(data, '&', columnLength)
                    row = data.substring(0, lastPos)
                    $.ajax({
                        type: "POST",
                        url: "/Purchase/SaveForm",
                        dataType: 'JSON',
                        data: data,
                        success: function () {
                            $('#purchaseTable').DataTable().ajax.reload(null, false);
                            //ToastMessage(data);

                        }
                    });
                    data = data.substring(lastPos + 1, data.length)
                }

                setTimeout(UpdateStockNotification, 1000)
                $("#purchaseModal").hide();
             }
        });


        //function ToastMessage() {
        //     $(".toast").removeClass('hide').addClass('show');

        //     if (data.length == 2)
        //         message = "Product " + data[1].value + " updated"
        //     else
        //         message = "Product " + data[0].value + " added"

        //     $(".toast-body").text(message);
        // }

        // $("#toast-close").on('click', function (data) {
        //     $(".toast").removeClass('show').addClass('hide');
        // });


    });

</script>