﻿@{
    ViewData["Title"] = "SalesReport";
    ViewData["CrumbPageName"] = "SalesReport";
}

<section>
    <div class="Purchase">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> TOTAL SALES REPORT </span>
                            <span class="caption-helper"></span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">


                            <div class="row" id="productReport">
                               

                                <input type="date" id="StartDate" />

                                <input type="date" id="EndDate" />

                            </div>

                            <hr />

                            <div class="row">
                                <div class="col-md-6" id="line-chart">
                                    <canvas id="lineChart" height="300"></canvas>
                                </div>
                                <div class="col-md-6" id="bar-chart">
                                    <canvas id="barChart" height="300"></canvas>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script>
    $(document).ready(function () {

       
        var today = moment().format("YYYY-MM-DD")
        var monthAgo = moment(today).add(-1, 'M').format("YYYY-MM-DD")
        $("#StartDate").val(monthAgo)
        $("#EndDate").val(today)


        function Report() {
            _data = {             
                "StartDate": $("#StartDate").val(),
                "EndDate": $("#EndDate").val()
            }

            $.ajax({
                type: "GET",
                url: "/TotalSalesReport/GetSalesReport",
                dataType: 'JSON',
                data: _data,
                success: function (salesdata) {
                    var line = $('<canvas id="lineChart" height="300"></canvas>');
                    var bar = $('<canvas id="barChart" height="300"></canvas>');
                    $("#lineChart,#barChart").remove();
                    var data = salesdata;

                    $("#line-chart").append(line)
                    $("#bar-chart").append(bar)

                    ShowReport(data)

                },
                error: function (ex) {
                    var x = ex;
                }

            });

        }

        Report();

        ////get DateTime,TotalPrice
        //$("#SalesReportbtn").click(function () {
        //    Report();
        //});

        $("#StartDate,#EndDate").on('change', function () {
            Report()
        });


        function ShowReport(data) {
            TotalAmount = []
            SalesDate = []
            $.each(data, function (k, v) {
                TotalAmount.push(v.totalAmount);
                SalesDate.push(moment(v.salesDate).format('YYYY/MM/DD'));
            });

            var ctx = document.getElementById('lineChart').getContext('2d');
            lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: SalesDate,
                    datasets: [{
                        label: 'Sales',
                        data: TotalAmount,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            var ctx = document.getElementById('barChart').getContext('2d');
            barChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: SalesDate,
                    datasets: [{
                        label: 'Sales',
                        data: TotalAmount,
                        backgroundColor: 'rgba(255, 99, 132,0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        },

                    }
                }
            });
        }

    });

</script>

