﻿@model InventorySystem.Models.ViewModel.Dashboard;
@{
    ViewData["Title"] = "Home Page";
    ViewData["CrumbPageName"] = "Dashboard";
}

<div class="row db-top">

    <div class="col-md-3">
        <div class="card-box noradius noborder bg-default">
            <i class="fa fa-file-text-o float-right text-white"></i>
            <h6 class="text-white text-uppercase m-b-20">Orders</h6>
            <h1 class="m-b-20 text-white counter">@Model.TotalOrder</h1>
            <span class="text-white">Today's Order: @Model.Order</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-box noradius noborder bg-warning">
            <i class="fa fa-bar-chart float-right text-white"></i>
            <h6 class="text-white text-uppercase m-b-20">Sales</h6>
            <h1 class="m-b-20 text-white counter">@Model.TotalSales</h1>
            <span class="text-white">Today's Sale: @Model.Sales</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-box noradius noborder bg-info">
            <i class="fa fa-money float-right text-white"></i>
            <h6 class="text-white text-uppercase m-b-20">Profit</h6>
            <h1 class="m-b-20 text-white counter">@Model.TotalProfit</h1>
            <span class="text-white">Today's Profit: @Model.Profit</span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-box noradius noborder bg-danger">         
            <h6 class="text-white m-b-20">TOP PRODUCT</h6>
             <h1 class="m-b-20 text-white counter topProduct">@Model.TopProduct</h1>
            <span class="text-white">Today's: @Model.TodaysTopProduct</span>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fa fa-line-chart"></i> Daily Sales and Profit</h3>
            </div>

            <div class="col-md-12">
                <canvas id="lineChart" height="345"></canvas>
            </div>
            <div class="card-footer small text-muted"></div>
        </div><!-- end card-->
    </div>
</div>


<script>

    //get DateTime,TotalPrice
    $(document).ready(function () {

        let topProduct =  $(".topProduct").text();
        if(topProduct.length>10){
          $(".topProduct").addClass("topProductSmall");
        }else{
            $(".topProduct").removeClass("topProductSmall");
         }

        $.ajax({
            type: "GET",
            url: "/Home/GetReport",
            dataType: 'JSON',
            success: function (data) {
                ShowReport(data)
            },
            error: function (ex) {
                var x = ex;
            }

        });
    });

    function ShowReport(data) {
        debugger;
        ProfitAmount = []
        TotalAmount = []
        SalesDate = []

        $.each(data.saledata, function (k, v) {
            TotalAmount.push(v.totalAmount);
            SalesDate.push(v.salesDate);
        });

        $.each(data.profitdata, function (k, v) {
            ProfitAmount.push(v.totalAmount);
        });

        var ctx = document.getElementById('lineChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: SalesDate,
                datasets: [{
                    label: 'Sale amount',
                    data: TotalAmount,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',                 
                },
                {
                    label: 'Profit amount',
                    data: ProfitAmount,
                    fill: false,
                    borderColor: 'rgb(255, 99, 132)',
                    borderWidth: 2
                }
                ]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                lineTension: 0.1
            }
        });

    }

</script>