﻿@model InventorySystem.Models.Sales
@{
    ViewData["Title"] = "Index";
}

<div class="modal" id="salesModal" tabindex="-1" role="dialog" aria-labelledby="GodonwModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Sales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="salesForm">

                    @if (Model != null)
                    {
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="BillNo" />
                    }
                  
                    <div class="row">
                           
                            <div class="col">
                                 @if (Model == null) {<span class="addRow btn btn-secondary"><i class="fa fa-plus"> Add new row</i></span>  }
                            </div>  
                          
                         <div class="col-md-3 right">
                                 <input class="CustomerName" asp-for="Billing.Customer.Name" placeholder="Customer Name" />
                            </div>   

                           <div class="col-md-2" style="margin-right:43px">
                                <input type="datetime" asp-for="SalesDate" placeholder="sales Date" />                                               
                            </div>          
                    
                    </div>
                   

    <hr>

    <div id="salesRow">


        <div class="row">
           
            <input type="hidden" asp-for="PurchasePrice" />

            <div class="col-md-3">
                <input class="ProductName" asp-for="ProductName" placeholder="Product Name" />
            </div>

            <div class="col-md-2">
                <select asp-for="Category" asp-items="@ViewBag.Category">
                    <option value="">Select Category</option>
                </select>               
            </div>


            <div class="col-md-2">
                <input min="1" asp-for="Quantity" placeholder="QTY" />
            </div>


            <div class="col-md-2">
                <input asp-for="SalePrice" placeholder="Price" />
            </div>

            <div class="col-md-3">
                <input asp-for="TotalAmount" placeholder="Amt" />
                @if (Model == null)
                {
                <span class="removeRow"><i class="fa fa-close"></i></span>
                }
            </div>           

        </div>

    </div>
</form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" id='btn-close' data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-secondary" id="btnSaveSales">Save</button>
    </div>
</div>
</div>
</div>

<script>

    function UpdateForm(currentObject ,product){
         let salesRow =  $(currentObject).closest("#salesRow");
         $(salesRow).find("#SalePrice,#TotalAmount").val(product.salePrice)
         $(salesRow).find("#PurchasePrice").val(product.purchasePrice)
         $(salesRow).find("#Category").val(product.category)
         $(salesRow).find("#Quantity").val(product.quantity)                   
    }    

    $(".addRow").on('click', function () {
        var row = $("#salesRow").clone()
        $(row).find("input,select").val("")
        $("#salesForm").append(row)

        $("#salesForm").find(".ProductName:last").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "Sales/GetProduct",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        let productList = [];
                        _data = data;
                        data.filter(x => productList.push(x.product))
                        response(productList);
                    }
                });
            },
            minLength: 2
        })

        $("#salesForm").find(".ProductName:last").on("change", function () {
            if (_data != null) {
                let name = $(this).val();
                let product = _data.filter(x => x.product == name)[0]
                UpdateForm(this,product)                           
            }
        })

    })

    $("#salesForm").on('click', '.removeRow', function () {
        (this).closest("#salesRow").remove()
    })

    var _data;
    $("#salesForm").find(".ProductName").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "Sales/GetProduct",
                dataType: "json",
                data: {
                    term: request.term
                },
                success: function (data) {
                    let productList = [];
                    _data = data;
                    data.filter(x => productList.push(x.product))
                    response(productList);
                }
            });
        },
        minLength: 2
    })

    $("#ProductName").on("change", function () {
        if (_data != null) {
            let product = _data.filter(x => x.product == $(this).val())[0]
            UpdateForm(this,product)        
        }
    })

    $('#SalesDate').datepicker()
    if ($('#SalesDate').val() == "") {
        $('#SalesDate').val(moment(new Date).format('YYYY-MM-DD HH:mm'))
    }


    //validation
   function validate(){

        $("#salesForm input").removeClass("input-error");
        var errorFlag =0;     

        let ProductName = $("#ProductName").val()
        if(ProductName.length<1){
             $("#ProductName").addClass("input-error")
            errorFlag=1;
        }

        let Quantity = $("#Quantity").val();
        if(Quantity<0 || Quantity.length<1){
            $("#Quantity").addClass("input-error")
            errorFlag=1;
        }

        let SalePrice = $("#SalePrice").val();
        if(SalePrice<0 || SalePrice.length<1){
            $("#SalePrice").addClass("input-error")
            errorFlag=1;
        }

        let TotalAmount = $("#TotalAmount").val()
        if(TotalAmount<0 || TotalAmount.length<1){
             $("#TotalAmount").addClass("input-error")
            errorFlag=1;
        }

        return errorFlag?false:true
    }

</script>
