﻿@{
    ViewData["Title"] = "Sales";
    ViewData["CrumbPageName"] = "Sales";
}

<!--alert-->

@* <div aria-live="polite" aria-atomic="true" style="position: relative; top:-29px; z-index:1;">
    <div class="toast hide" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header">
    <strong class="mr-auto">Sales</strong>
    <button type="button" id="toast-close" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="toast-body">
    Hello, world! This is a toast message.
    </div>
    </div>
    </div> *@

<section>
    <div class="Product">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> Sales </span>
                            <span class="caption-helper"></span>
                        </div>
                        <div class="actions">                          
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnAddSales">
                                <i class="fa fa-plus"></i>
                            </a>                          
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                            <table id="salesTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>ProductName</th>
                                        <th>Category</th>
                                        <th>Quantity</th>
                                        <th>SalePrice</th>
                                        <th>TotalAmount</th>
                                        <th>SalesDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="formwrapper"></div>


<script>
    $(document).ready(function () {

        $('#salesTable').dataTable({
            "ajax": {
                "url": "/Sales/GetAll",
                "dataType": "json",
                "cache": false,
                "dataSrc": ""
            },
            "order": [[0, "desc"]],

            columns: [
                { 'data': 'id' },
                { 'data': 'productName' },
                { 'data': 'productType', "render": function (data) { return data.productTypeName } },
                { 'data': 'quantity' },
                { 'data': 'salePrice' },
                { 'data': 'totalAmount' },
                { 'data': 'salesDate', "render": function (data) { return moment(data).format('YYYY/MM/DD hh:mm a') } },

                { defaultContent: '<button class="btn btn-edit dtable-btn" id="btnEditSales"><i class="fa fa-pencil"></i></button> <button class="btn btn-delete dtable-btn"  id="btnDeleteSales"> <i class="fa fa-trash"></i></button>' }
            ]
        });
        //quantity value
        $("#formwrapper").on("change", "#Quantity,#SalePrice", function () {
            var quantity = $(this).closest("#salesRow").find("#Quantity").val()
            var salePrice = $(this).closest("#salesRow").find("#SalePrice").val()
            $(this).closest("#salesRow").find("#TotalAmount").val(quantity * salePrice);
        })

        //closemodel
        $("#formwrapper").on("click", "#btn-close,.close", function () {
            $("#salesModal").hide();
        })

        //edit
        $("#salesTable").on("click", "#btnEditSales", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            getForm(id);
        })

        //delete
        $("#salesTable").on("click", "#btnDeleteSales", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            $.ajax({
                type: "GET",
                url: "/Sales/Delete/" + id,
                dataType: 'JSON',
                success: function () {
                    $('#salesTable').DataTable().ajax.reload(null, false);
                }
            });

        })

        //add
        $("#btnAddSales").on("click", function () {
            getForm();
        })

        function getForm(id) {
            data = { "Id": id }
            $.ajax({
                type: "Get",
                url: "/Sales/GetForm",
                dataType: 'html',
                data: data,
                success: function (htmlresult) {
                    $("#formwrapper").html(htmlresult);
                    $("#salesModal").show();
                },
            });
        }

        //helperfunction
        function getPosition(string, subString, index) {
            return string.split(subString, index).join(subString).length;
        }

        //save

        $("#formwrapper").on("click", "#btnSaveSales", function () {
           if(validate()){
     
                data = $("#salesForm").serialize();
                var isUpdate = data.startsWith("Id");
                columnLength = (data.match(/&/g) || []).length;
                userAndDate="";

                if(!isUpdate){
                    firstSeperatorIndex = data.indexOf('&')
                    secondSeperatorIndex = data.indexOf('&',firstSeperatorIndex +1)
                    userAndDate = data.substring(0,secondSeperatorIndex+1)
                    data = data.substring(secondSeperatorIndex+1,data.length)
                    columnLength = 6
                }

                var count = (data.match(/&/g) || []).length;
                loopCount = Math.round(count / columnLength)

                for (var i = 0; i < loopCount; i++) {
                    lastPos = getPosition(data, '&', columnLength)
                    row = isUpdate? data : data.substring(0, lastPos) + "&" + userAndDate

                    $.ajax({
                        async: false,
                        type: "POST",
                        url: "/Sales/SaveForm?rows=" + i,
                        dataType: 'JSON',
                        data: row,
                        success: function () {
                            $('#salesTable').DataTable().ajax.reload(null, false);

                        }
                    });
                    data = data.substring(lastPos + 1, data.length)
                }
                UpdateStockNotification()
                $("#salesModal").hide();
                $('#salesTable').DataTable().ajax.reload(null, false);
           }
        });


    });

</script>