﻿@model InventorySystem.Models.Customer
@{
    ViewData["Title"] = "Index";
}


<div class="modal" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="GodonwModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormCustomer">
                    <div class="row">

                        @if (Model != null)
                        {<input type="hidden" asp-for="Id" />}


                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txt-GlName">Name:</label>
                                <input class="form-control" asp-for="Name" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txt-GlName">Phone no:</label>
                                <input class="form-control" asp-for="PhoneNo" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="txt-GlName">JoinDate</label>
                                <input type="datetime" class="form-control" asp-for="Date" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id='btn-close' data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-secondary" id="btnSaveCustomer">Save</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#Date').datepicker()
    if ($('#Date').val() == "") {
        $('#Date').val(moment(new Date).format('YYYY-MM-DD HH:mm'))
    }
</script>


