﻿@{
    ViewData["Title"] = "Customer";
    ViewData["CrumbPageName"] = "Customer";
}

<!--alert-->


<div aria-live="polite" aria-atomic="true" style="position: relative; top:-29px; z-index:1;">
    <div class="toast hide" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto">Customer</strong>
            <button type="button" id="toast-close" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<section>
    <div class="Customer">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase">CUSTOMER</span>
                            <span class="caption-helper"></span>
                        </div>
                        <div class="actions">
                            <a href="~/godown/index" class="btn btn-red btn-circle active">
                                <i class="fa fa-list-ul"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnAddCustomer">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnSearchGodown">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                            <table id="TableCustomer" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>PhoneNo</th>
                                        <th>Join Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="formwrapper"></div>


<script>
    $(document).ready(function () {


        $('#TableCustomer').dataTable({
            "ajax": {
                "url": "/Customer/GetAll",
                "dataType": "json",
                "cache": false,
                "dataSrc": ""
            },
            "order": [[0, "desc"]],
            columns: [
                { 'data': 'id' },
                { 'data': 'name' },
                { 'data': 'phoneNo' },
                { 'data': 'date', "render": function (data) { return moment(data).format('YYYY/MM/DD hh:mm a') } },
                { defaultContent: '<button class="btn btn-edit dtable-btn" id="btnEditCustomer"><i class="fa fa-pencil"></i></button> <button class="btn btn-delete dtable-btn"  id="btnDeleteCustomer"><i class="fa fa-trash"></i></button>' }
            ]
        });

        //closemodel
        $("#formwrapper").on("click", "#btn-close,.close", function () {
            $("#customerModal").hide();
        })

        //edit
        $("#TableCustomer").on("click", "#btnEditCustomer", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            getForm(id);
        })

        //delete
        $("#TableCustomer").on("click", "#btnDeleteCustomer", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            $.ajax({
                type: "GET",
                url: "/Customer/Delete/" + id,
                dataType: 'JSON',
                success: function () {
                    $('#TableCustomer').DataTable().ajax.reload(null, false);
                }
            });

        })


        //add
        $("#btnAddCustomer").on("click", function () {
            getForm();
        })

        //save
        $("#formwrapper").on("click", "#btnSaveCustomer", function () {

            data = $("#FormCustomer").serializeArray();
            $.ajax({
                type: "POST",
                url: "/Customer/SaveForm",
                dataType: 'JSON',
                data: data,
                success: function () {
                    $('#TableCustomer').DataTable().ajax.reload(null, false);
                    ToastMessage(data);


                }
            });
            $("#customerModal").hide();
        });

        function getForm(id) {
            data = { "Id": id }
            $.ajax({
                type: "Get",
                url: "/Customer/GetForm",
                dataType: 'html',
                data: data,
                success: function (htmlresult) {
                    $("#formwrapper").html(htmlresult);
                    $("#customerModal").show();
                },
            });
        }

        function ToastMessage() {
            $(".toast").removeClass('hide').addClass('show');

            if (data.length == 2)
                message = "Product " + data[1].value + " updated"
            else
                message = "Product " + data[0].value + " added"

            $(".toast-body").text(message);
        }

        $("#toast-close").on('click', function (data) {
            $(".toast").removeClass('show').addClass('hide');
        });



    });

</script>
