﻿@model InventorySystem.Models.Role
@{
    ViewData["Title"] = "Index";
}


<div class="modal" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="GodonwModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="roleForm">
                    

                        @if (Model != null)
                        {<input type="hidden" asp-for="Id" />}
                      

                        <div id="roleRow">

                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="col-md-6">
                                    <input class="product-input" asp-for="Name" id="RoleName" placeholder="Role Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>                      
                        </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id='btn-close' data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-secondary" id="btnSaveRole">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
   
     $("#roleForm").on('click', '.removeRow', function () {
        (this).closest("#roleRow").remove()
     })

</script>

