﻿@{
    ViewData["Title"] = "Role";
    ViewData["CrumbPageName"] = "Role";
}
<section>
    <div class="role">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> Roles </span>
                            <span class="caption-helper"></span>
                        </div>
                        <div class="actions">
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnAddRole">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                            <table id="roleTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Role Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="formwrapper"></div>


<script>
    $(document).ready(function () {

        $('#roleTable').dataTable({
            "ajax": {
                "url": "/Roles/GetAll",
                "dataType": "json",
                "cache": false,
                "dataSrc": ""
            },
            "order": [[0, "desc"]],
            columns: [
                { 'data': 'id' },
                { 'data': 'name' },
                //{ defaultContent: '<button class="btn btn-edit dtable-btn" id="btnEditRole"><i class="fa fa-pencil"></i></button> <button class="btn btn-delete dtable-btn"  id="btnDeleteRole"> <i class="fa fa-trash"></i></button>' }
                { defaultContent: '<button class="btn btn-delete dtable-btn"  id="btnDeleteRole"> <i class="fa fa-trash"></i></button>' }
            ]
        });

        //closemodel
        $("#formwrapper").on("click", "#btn-close,.close", function () {
            $("#roleModal").hide();
        })

        //edit
        $("#roleTable").on("click", "#btnEditRole", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            getForm(id);
        })

        //delete
        $("#roleTable").on("click", "#btnDeleteRole", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            $.ajax({
                type: "GET",
                url: "/Roles/Delete/" + id,
                dataType: 'JSON',
                success: function () {
                    $('#roleTable').DataTable().ajax.reload(null, false);
                }
            });

        })

        //add
        $("#btnAddRole").on("click", function () {
            getForm();
        })

        function getForm(id) {
            data = { "Id": id }
            $.ajax({
                type: "Get",
                url: "/Roles/GetForm",
                dataType: 'html',
                data: data,
                success: function (htmlresult) {
                    $("#formwrapper").html(htmlresult);
                    $("#roleModal").show();
                },
            });
        }


        //save

        $("#formwrapper").on("click", "#btnSaveRole", function () {
            data = $("#roleForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Roles/SaveForm",
                dataType: 'JSON',
                data: data,
                success: function () {
                    $('#roleTable').DataTable().ajax.reload(null, false);
                }
            });

            $("#roleModal").hide();
        });


    });


</script>