﻿@page
@model InventorySystem.Areas.Identity.Pages.Account.LoginModel

<div id="login-body">
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Inventory Login</span></div>
            <form id="account" method="post" novalidate> 
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
                <div class="row">
                    <i class="fa fa-user"></i>
                    <input asp-for="Input.UserName" placeholder="Email or Phone"/>
                </div>
                <div class="row">
                    <i class="fa fa-lock"></i>
                    <input asp-for="Input.Password" type="password" placeholder="Password"/>
                </div>
               
                <div class="login-error">
                   <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                               
                <div class="row button">
                    <button id="LoginButton" type="submit">Login</button>
                </div>              
            </form>
        </div>
    </div>
</div>

<script>
  $("#account").on("submit",function(){

        $("#account input").removeClass("input-error");

        var errorFlag=0
        var username = $("#Input_UserName").val()
        if(username.length<1){
          $("#Input_UserName").addClass("input-error")
          errorFlag=1

        } 

        var password = $("#Input_Password").val()
        if(password.length<1){
          $("#Input_Password").addClass("input-error")
          errorFlag=1
        } 
       return errorFlag?false:true;
  })


</script>

