﻿@model InventorySystem.Models.ViewModel.UserViewModel
@{
     Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="~/theme/js/jquery.js"></script>
    <link href="~/theme/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/theme/js/bootstrap.js"></script>
    <link href="~/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body id="login-body">
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Login Form</span></div>         
            <form id="LoginForm">
                <div style="color:red; margin:-22px 0px 10px -8px" id="loginMsg">@ViewData["LoginMsg"]</div>
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input asp-for="UserName" placeholder="Email or Phone">
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <input asp-for="Password" type="password" placeholder="Password">
                </div>
                @*<div class="pass"><a href="#">Forgot password?</a></div>*@
                <div class="row button">
                    <button id="LoginButton" type="button">Login</button>
                </div>
                <div class="signup-link">Not a member? <a href="@Url.Action("Register", "User")">Signup now</a></div>
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#LoginButton").on("click", function (){
                data = $("#LoginForm").serialize();

                $.ajax({
                    type: "POST",
                    url: "/User/Login",
                    dataType: 'JSON',
                    data: data,
                    success: function(response){
                        window.location.href = response.redirectToUrl;                       
                    }
                });
            });
        });

    </script>

</body>

</html>
