﻿@model InventorySystem.Models.ViewModel.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="~/theme/js/jquery.js"></script>
    <link href="~/theme/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/theme/js/bootstrap.js"></script>
    <link href="~/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body id="login-body">
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>SignUp Form</span></div>
            <form id="RegisterForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" asp-for="UserName" placeholder="Username" required>
                    <span asp-validation-for="UserName" class="text-danger"> </span>
                </div>              
               
                <div class="row">
                    <i class="fas fa-key"></i>
                    <input type="password" asp-for="Password" placeholder="Password" required>
                    <span asp-validation-for="Password" class="text-danger"> </span>
                </div>
                
                <div class="row button">
                    <input type="button" id="LoginButton" value="Create">
                </div>
            </form>
        </div>
    </div>

</body>
</html>


<script>
    $(document).ready(function () {
       
        $("#LoginButton").click(function () {
            data = $("#RegisterForm").serialize();
            $.ajax({
                type: "POST",
                url: "/User/Create",
                data: data,
            });
            $("#RegisterForm")[0].reset();
        });
    });
</script>