﻿@model InventorySystem.Models.ProductType
@{
    ViewData["Title"] = "Index";
}


<div class="modal" id="productTypeModal" tabindex="-1" role="dialog" aria-labelledby="GodonwModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Product Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormProductType">
                    <div class="row">

                        @if (Model != null)
                        {<input type="hidden" asp-for="Id" />}


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txt-GlName">Product Type Name:</label>
                                <input class="form-control" asp-for="ProductTypeName" />
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id='btn-close' data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-secondary" id="btnSaveProductType">Save</button>
            </div>
        </div>
    </div>
</div>


