﻿@model InventorySystem.Models.Product
@{
    ViewData["Title"] = "Index";
}


<div class="modal" id="productModal" tabindex="-1" role="dialog" aria-labelledby="GodonwModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="productForm">
                    <div>

                        @if (Model != null)
                        {
                                                                                                                                        <input type="hidden" asp-for="Id" />
                        }

                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-3">
                                <input class="product-input" asp-for="ProductName" placeholder="Product Name" />
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>

                            <div class="col-md-2">

                                <select asp-for="Category" asp-items="@ViewBag.Category">
                                    <option value="">Select Category</option>
                                </select>
                                <span asp-validation-for="Category" class="text-danger"></span>
                            </div>

                            <div class="col-md-2">
                                <input class="product-input" min="1"  asp-for="PurchasePrice" placeholder="Purchase price" />
                                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                            </div>

                            <div class="col-md-2">
                                <input class="sales-input"  min="1"   asp-for="SalePrice" placeholder="Sale Price" />
                                <span asp-validation-for="SalePrice" class="text-danger"></span>
                            </div>

                            <div class="col-md-3">
                                <input class="product-input" asp-for="PurchaseDate" type="date" placeholder="Purchase Date" />
                                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id='btn-close' data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-secondary" id="btnSaveProduct">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#PurchaseDate').datepicker()
    if ($('#PurchaseDate').val() == "") {
        $('#PurchaseDate').val(moment(new Date).format('YYYY-MM-DD'))
    }

   //validation
   function validate(){

        $("#productForm input").removeClass("input-error");
        var errorFlag =0;
        let SalePrice = $("#SalePrice").val();
        if(SalePrice<0 || SalePrice.length<1){
            $("#SalePrice").addClass("input-error")
            errorFlag=1;
        }

        let PurchasePrice = $("#PurchasePrice").val();
        if(PurchasePrice<0 || PurchasePrice.length<1){
            $("#PurchasePrice").addClass("input-error")
            errorFlag=1;
        }

        let ProductName = $("#ProductName").val()
        if(ProductName.length<1){
             $("#ProductName").addClass("input-error")
            errorFlag=1;
        }

        return errorFlag?false:true
    }

</script>

