﻿@{
    ViewData["Title"] = "Product";
    ViewData["CrumbPageName"] = "Product";
}


<!--alert-->


<div aria-live="polite" aria-atomic="true" style="position: relative; top:-29px; z-index:1;">
    <div class="toast hide" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto">Product</strong>
            <button type="button" id="toast-close" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<section>
    <div class="Product">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> PRODUCT </span>
                            <span class="caption-helper"></span>
                        </div>
                        <div class="actions">
                            <a href="~/godown/index" class="btn btn-red btn-circle active">
                                <i class="fa fa-list-ul"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnAddProduct">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnSearchGodown">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                            <table id="productTable" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>ProductName</th>
                                        <th>Category</th>
                                        <th>PurchasePrice</th>
                                        <th>SalePrice</th>
                                        <th>PurchaseDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="formwrapper"></div>


<script>
    $(document).ready(function () {

        $('#productTable').dataTable({
            "ajax": {
                "url": "/Product/GetAll",
                "dataType": "json",
                "cache": false,
                "dataSrc": ""
            },
            "order": [[0, "desc"]],
            columns: [
                { 'data': 'id' },
                { 'data': 'productName' },
                { 'data': 'productType', "render": function (data) { return data.productTypeName } },
                { 'data': 'purchasePrice' },
                { 'data': 'salePrice' },
                { 'data': 'purchaseDate', "render": function (data) { return moment(data).format('YYYY/MM/DD hh:mm a') } },
                { defaultContent: '<button class="btn btn-edit dtable-btn" id="btnEditProduct"><i class="fa fa-pencil"></i></button> <button class="btn btn-delete dtable-btn"  id="btnDeleteProduct"> <i class="fa fa-trash"></i></button>' }
            ]
        });
        //closemodel
        $("#formwrapper").on("click", "#btn-close,.close", function () {
            $("#productModal").hide();
        })

        //edit
        $("#productTable").on("click", "#btnEditProduct", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            getForm(id);
        })

        //delete
        $("#productTable").on("click", "#btnDeleteProduct", function () {
            let id = $(this).parents("tr").find("td").first().text().trim()
            $.ajax({
                type: "GET",
                url: "/Product/Delete/" + id,
                dataType: 'JSON',
                success: function () {
                    $('#productTable').DataTable().ajax.reload(null, false);
                }
            });

        })

        //add
        $("#btnAddProduct").on("click", function () {
            getForm();
        })

        function getForm(id) {
            data = { "Id": id }
            $.ajax({
                type: "Get",
                url: "/Product/GetForm",
                dataType: 'html',
                data: data,
                success: function (htmlresult) {
                    $("#formwrapper").html(htmlresult);
                    $("#productModal").show();
                },
            });
        }

        //save
        $("#formwrapper").on("click", "#btnSaveProduct", function () {

            if(validate()){
                data = $("#productForm").serializeArray();
                $.ajax({
                    type: "POST",
                    url: "/Product/SaveForm",
                    dataType: 'JSON',
                    data: data,
                    success: function () {
                        $('#productTable').DataTable().ajax.reload(null, false);
                        ToastMessage(data);

                    }
                });
                $("#productModal").hide();
            }
        });


        function ToastMessage() {
            $(".toast").removeClass('hide').addClass('show');

            if (data.length == 2)
                message = "Product " + data[1].value + " updated"
            else
                message = "Product " + data[0].value + " added"

            $(".toast-body").text(message);
        }

        $("#toast-close").on('click', function (data) {
            $(".toast").removeClass('show').addClass('hide');
        });


    });

</script>