﻿
<environment include="Development">

    <link href="~/theme/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/jqueryUI/jqueryUI.css" />
    <link href="~/css/common.css" rel="stylesheet" />
</environment>

<environment include="Development">
    <script src="~/theme/js/jquery.js"></script>
    <script src="~/theme/js/bootstrap.js"></script>
    @*<script src="~/theme/js/pikeadmin.js"></script>*@
    <script src="~/lib/jqueryUI/jqueryUI.js"></script>
</environment>

<environment exclude="Development">

    <link href="~/theme/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/theme/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/jqueryUI/jqueryUI.css" />
    <link href="~/css/common.css" rel="stylesheet" />
</environment>

<environment exclude="Development">
    <script src="~/theme/js/jquery.js"></script>
    <script src="~/theme/js/bootstrap.js"></script>
    @*<script src="~/theme/js/pikeadmin.js"></script>*@
    <script src="~/lib/jqueryUI/jqueryUI.js"></script>
</environment>

@RenderBody()
