﻿.content {
  padding: 30px;
  background: #f1f3fa;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

/* Portlet */
.portlet {
  background: #fff;
  padding: 20px;
}

.portlet.portlet-gray {
  background: #f7f7f7;
}

.portlet.portlet-bordered {
  border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
  padding: 0;
  min-height: 40px;
  border-bottom: 1px solid #eee;
  margin-bottom: 18px;
}

.caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
}

.caption.caption-green .caption-subject,
.caption.caption-green i {
  color: #4db3a2;
  font-weight: 200;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
  color: #e26a6a;
  font-weight: 400;
}

.caption.caption-purple .caption-subject,
.caption.caption-purple i {
  color: #8775a7;
  font-weight: 400;
}

.caption i {
  color: #777;
  font-size: 15px;
  font-weight: 300;
  margin-top: 3px;
}

.caption-subject {
  color: #666;
  font-size: 16px;
  font-weight: 600;
}

.caption-helper {
  padding: 0;
  margin: 0;
  line-height: 13px;
  color: #9eacb4;
  font-size: 13px;
  font-weight: 400;
}

/* Actions */
.actions {
  float: right;
  display: inline-block;
}

.actions a {
  margin-left: 3px;
}

.actions .btn {
  color: #666;
  padding: 3px 9px;
  font-size: 13px;
  line-height: 1.5;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 50px;
}

.actions .btn i {
  font-size: 12px;
}

.actions .btn:hover {
  background: #f2f2f2;
}

/* Pagination */
.pagination {
  margin: -3px 0 0;
  border-radius: 50px;
}

.pagination > li > a,
.pagination > li > span {
  padding: 4px 10px;
  font-size: 12px;
  color: #8775a7;
  background: #f7f7f7;
}

.pagination > li:hover > a,
.pagination > li.active > a,
.pagination > li.active:hover > a {
  color: #fff;
  background: #8775a7;
  border-color: #8775a7;
}

/* Inputs */
.inputs {
  float: right;
  display: inline-block;
  padding: 4px 0;
  margin-top: -10px;
}

.input-inline {
  width: 240px;
  display: inline-block;
  vertical-align: middle;
}

/* Tab */
.portlet-title > .nav-tabs {
  background: none;
  margin: 0;
  float: right;
  display: inline-block;
  border: 0;
}

.portlet-title > .nav-tabs > li {
  background: none;
  margin: 0;
  border: 0;
}

.portlet-title > .nav-tabs > li > a {
  background: none;
  border: 0;
  padding: 2px 10px 13px;
  color: #444;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
  border-bottom: 4px solid #f3565d;
  position: relative;
}

.portlet-title > .nav-tabs > li:hover {
  border-bottom: 4px solid #f29b9f;
}

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
  color: #333;
  background: #fff;
  border: 0;
}

/* Btn Circle */
.actions .btn.btn-circle {
  width: 28px;
  height: 28px;
  padding: 3px 7px;
  text-align: center;
}

.actions .btn.btn-circle i {
  font-size: 11px;
}

/* Btn Grey Salsa */
.actions .btn.grey-salsa {
  border: none;
  margin-left: 3px;
  box-shadow: none;
  border-radius: 50px !important;
}

.actions .btn.grey-salsa.active {
  color: #fafcfb;
  background: #8e9bae;
}

.actions .grey-salsa.btn:hover,
.actions .grey-salsa.btn:focus,
.actions .grey-salsa.btn:active,
.actions .grey-salsa.btn.active {
  color: #fafcfb;
  background: #97a3b4;
}

/* Btn Red */
.actions .btn.btn-red.active,
.actions .btn.btn-red:hover {
  color: #fff;
  box-shadow: none;
  background: #e26a6a;
  border-color: #e26a6a;
}

/* Btn Red */
.actions .btn.btn-purple.active,
.actions .btn.btn-purple:hover {
  color: #fff;
  box-shadow: none;
  background: #8775a7;
  border-color: #8775a7;
}

/*Loader*/

.load-indicator {
  color: red;
  font-size: 12px;
  /*border: 1px solid red;*/
  padding: 0.5em;
}

/*PopUp*/
.form-control {
  border-radius: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  padding: 5px 10px;
}

/*.modal-body {
        padding: 1rem 2rem;
    }

    .model-title {
        line-height:1;
    }*/

.model-header {
  padding: 1rem 2rem !important;
}

.modal-content {
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
}

.modal-header {
  background-color: #f8f9fa;
}

.modal-footer {
  background-color: #f8f9fa;
  padding: 12px;
}

.col-form-label {
  line-height: 1 !important;
  font-size: small !important;
}

label {
  font-weight: 450;
}

.card {
  border-radius: 0px;
}

/*COMBOBOX*/

/*.ui-state-default {
    border: 1px solid #ccc;
    background: white !important;
    padding: 4px 7px !important;
}

.ui-menu-item a.ui-state-focus {
    background: #E6E4E4 !important;
    border: 0px;
}

.ui-combobox .ui-icon-triangle-1-s {
    right: 0.5em;
    left: 194px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}

/*combobox-add-btn

.add-btn {
    position: relative;
    top: -3px;
    padding: 4px 15px;
    background-color: white;
    border: 1px solid #ccc;
    color:black;
}


ul.ui-autocomplete {
    z-index: 1100;
}*/

/*COmbobox*/

/*GeneralLedger-Interestcalculation-start*/

.form-grid {
  border: 1px solid #d1d8dd;
  border-radius: 3px;
}

.form-grid.error {
  border-color: #ff5858;
}

.grid-heading-row {
  border-bottom: 1px solid #d1d8dd;
  background-color: #f7fafc;
  font-weight: bold;
}

.grid-row {
  padding: 0px 15px;
  border-bottom: 1px solid #d1d8dd;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.grid-row:last-child {
  border: none;
}

.rows .grid-row .data-row,
.rows .grid-row .grid-footer-toolbar,
.grid-form-heading {
  cursor: pointer;
}

.data-row textarea {
  height: 40px;
}

.grid-body {
  background-color: #fff;
}

.form-grid .data-row.highlight {
  background-color: #fffdf4;
}

.form-grid .data-row.sortable-handle {
  cursor: move;
}

.form-column.col-sm-6 .form-grid .row-index > span {
  display: none;
}

.form-grid .template-row {
  padding: 8px 15px;
}

.grid-body .data-row {
  font-size: 12px;
}

.grid-empty,
.list-loading {
  padding: 10px 15px;
  color: #d1d8dd;
}

.grid-static-col,
.row-index {
  height: 39px;
  padding: 10px 15px;
  max-height: 200px;
  border-right: 1px solid #d1d8dd;
}

.editable-form .grid-static-col.bold {
  font-weight: bold;
  background-color: #fffdf4;
}

.validated-form .grid-static-col.error {
  background-color: #ffdcdc;
}

.grid-static-col input[type="checkbox"] {
  margin-left: -16px !important;
}

.row-index {
  text-align: right;
}

.grid-row > .row .col:last-child {
  margin-right: -10px;
}

.grid-row > .row .col {
  padding-left: 10px;
  padding-right: 10px;
}

.grid-body .btn-open-row {
  padding-top: 5px;
}

.grid-body .editable-row .grid-static-col {
  padding: 0px !important;
}

.grid-body .editable-row .checkbox {
  margin: 0px;
  text-align: center;
  margin-top: 9px;
}

.grid-body .editable-row textarea {
  height: 38px !important;
}

.grid-body .editable-row .form-control {
  border-radius: 0px;
  border: 0px;
  padding-top: 8px;
  padding-bottom: 9px;
  height: 38px;
}

.grid-body .editable-row .link-btn {
  top: 8px;
}

.grid-body .editable-row .form-control:focus {
  border-color: #8d99a6;
  z-index: 2;
}

.grid-body .editable-row .has-error .form-control {
  z-index: 1;
}

.grid-body .editable-row .has-error .form-control:focus {
  border-color: #ff5858;
}

.grid-body .editable-row input[data-fieldtype="Int"],
.grid-body .editable-row input[data-fieldtype="Float"],
.grid-body .editable-row input[data-fieldtype="Currency"] {
  text-align: right;
}

.grid-body .grid-static-col[data-fieldtype="Button"] .field-area {
  margin-top: 5px;
  margin-left: 5px;
}

.grid-body .grid-static-col[data-fieldtype="Button"] .field-area button {
  height: 27px;
}

.grid-body .grid-static-col[data-fieldtype="Code"] {
  overflow: hidden;
}

.grid-body .grid-static-col[data-fieldtype="Code"] .static-area {
  margin-top: -5px;
}

.grid-body .grid-static-col[data-fieldtype="Code"] .static-area pre {
  background: none;
  border: none;
}

.grid-body .grid-static-col[data-fieldtype="Text Editor"] {
  overflow: hidden;
}

.row-data > .row {
  margin-left: 15px;
}

.grid-row td {
  vertical-align: top;
}

.grid-row p {
  margin-bottom: 5px;
}

.grid-row .frappe-control {
  margin-bottom: 0px;
  position: relative;
}

.grid-row .col-sm-6 .editor-toolbar-text-group,
.grid-row .col-sm-6 .editor-toolbar-align-group {
  display: none;
}

.grid-row .col-sm-6 .text-editor {
  height: 200px;
}

.grid-row .col-sm-6 .markdown-text-editor {
  height: 251px;
}

.form-in-grid {
  background-color: white;
  z-index: 1021;
  position: relative;
  overflow: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.grid-row-open .form-in-grid {
  opacity: 1;
  height: auto;
  overflow: visible;
  margin: 0px -15px;
}

.grid-form-heading {
  padding: 10px 15px;
  font-size: 120%;
  border-bottom: 1px solid #d1d8dd;
}

.grid-footer {
  background-color: #fff;
}

.grid-footer-toolbar {
  padding: 10px 15px;
  border-top: 1px solid #d1d8dd;
}

.grid-overflow-no-ellipsis {
  word-wrap: break-word;
  overflow: hidden;
  padding-right: 0px;
}

.grid-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0px;
}

.grid-label {
  margin-right: 8px;
  margin-bottom: 4px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.boxed {
  border: 1px solid green;
  margin-left: 137px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

/*GeneralLedger-Interestcalculation-end*/

.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}

table.gj-grid-bootstrap thead th {
  background-color: #f5f5f5;
  vertical-align: middle;
  padding: 5px;
}

.modal {
  background: rgba(0, 0, 0, 0.4);
}

.dtable-btn {
  border-radius: 5px;
  padding: 0.2rem 0.75rem;
}

.btn-edit {
  background-color: #4980b5;
  color: white;
}

.btn-delete {
  background-color: #e26a6a;
  color: white;
}

#SalesDate {
  width: 165px;
}

.modal-lg {
  max-width: 1200px !important;
}

#salesRow,
#purchaseRow {
  margin: 8px 0px;
}

.modal {
  z-index: 100 !important;
  top: 30px !important;
}

#salesForm input,
#purchaseRow input,
#productForm input {
  font-size: small !important;
  padding: 6px 2px !important;
  width: 100%;
}

#productForm #Category {
  width: 100%;
  padding: 8px 2px !important;
}

#PurchaseDate,
#salesForm #TotalAmount {
  width: 85% !important;
}

#Category,
#Unit,
#RoleName,
#Role {
  width: 100%;
  padding: 8px 2px !important;
}

#FormUserManagement input {
  width: 100%;
  padding: 6px 2px !important;
}

#addRow {
  cursor: pointer;
}

/*Login*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#login-body {
  background-image: url("/image/in1.jfif");
  background-size: cover;
  overflow: hidden;
  opacity: 0.75;
  height: 100%;
}

::selection {
  background: rgb(201, 207, 216);
}

.container {
  max-width: 440px;
  margin: 170px auto;
}

.wrapper {
  background: #fff;
  border-radius: 0px;
}

.wrapper .title {
  height: 90px;
  background: #265b8e;
  border-radius: 0px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  padding: 30px 25px 25px 25px;
}

.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #6d7a88;
  box-shadow: inset 0px 0px 2px 2px rgba(201, 207, 216, 0.25);
}

form .row input::placeholder {
  color: #999;
}

.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #265b8e;
  border: 1px solid #265b8e;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass {
  margin: -8px 0 20px 0;
}

.wrapper form .pass a {
  color: #212529;
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form #LoginButton {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  width: 100%;
  background: #265b8e;
  border: 1px solid #265b8e;
  cursor: pointer;
}

form .button input:hover {
  background: #6d7a88;
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}

.wrapper form .signup-link a {
  color: #a39e9e;
  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline;
}

#billDetails em {
  font-weight: bold;
}

.card-box i {
  font-size: 45px !important;
}

#productReport {
  margin-bottom: 10px;
}

/*#productReport #ProductName {
    padding: 10px;
}*/
.badge-custom {
  font-size: 69%;
  border-radius: 12%;
  background-color: #ff5d48;
  color: white;
  margin-top: 3px;
}

.allstock {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px 0px;
}

.allstock:hover {
  background-color: #4980b5;
  color: white;
  text-align: center;
  padding: 10px 0px;
}

.btn-pred {
  background-color: #e26a6a;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: 400;
}

.btn-pred:hover {
  background-color: #e94444;
  color: white;
}

.progress {
  height: 2rem !important;
}

.btn-edit:hover {
  background-color: #002c55 !important;
  color: white;
}

.btn-delete:hover {
  background-color: #aa0000 !important;
  color: white;
}

/* validation-css*/

.input-error {
  border: 1px solid red !important;
}

.fa-user-red {
  background: red;
  border: 1px solid red;
}

.login-error {
  font-family: emoji;
  margin: 10px -12px;
}

.card-box {
  min-height: 145px;
}

.topProductSmall {
  padding: 12px 0px;
  font-size: 20px;
}
