﻿@model InventorySystem.Models.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="modal" id="userManagementModal" tabindex="-1" role="dialog" aria-labelledby="GodonwModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="FormUserManagement">
                  

                @if (Model != null)
                {<input type="hidden" asp-for="Id" />}


                    <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-3">
                                <input asp-for="UserName" placeholder="User Name" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>                  

                            <div class="col-md-3">
                                <select asp-for="Role" asp-items="@ViewBag.Roles">
                                    <option value="">Select Roles</option>
                                </select>
                                <span asp-validation-for="Role" class="text-danger"></span>
                           </div>

                            <div class="col-md-3">
                                <input class="product-input" asp-for="PhoneNumber" placeholder="Phone No" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="col-md-3">
                                <input class="product-input" type="password" asp-for="Password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id='btn-close' data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-secondary" id="btnSaveUserManagement">Save</button>
            </div>
        </div>
    </div>
</div>


