﻿@{
    ViewData["Title"] = "UserManagement";
    ViewData["CrumbPageName"] = "UserManagement";
}
<section>
    <div class="ProductType">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet portlet-bordered">
                    <div class="portlet-title">
                        <div class="caption caption-red">
                            <span class="caption-subject text-uppercase"> USER MANAGEMENT </span>
                            <span class="caption-helper"></span>
                        </div>
                        <div class="actions">

                            <a href="javascript:;" class="btn btn-red btn-circle" id="btnAddUser">
                                <i class="fa fa-plus"></i>
                            </a>

                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="gj-margin-top-10">

                            <table id="TableUserManagement" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Role</th>
                                        <th>PhoneNumber</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="formwrapper"></div>


<script>
    $(document).ready(function () {


        $('#TableUserManagement').dataTable({
            "ajax": {
                "url": "/UserManagement/GetAll",
                "dataType": "json",
                "cache": false,
                "dataSrc": ""
            },
            "order": [[0, "desc"]],
            columns: [
                { 'data': 'id' },
                { 'data': 'userName' },
                { 'data': 'role' },
                { 'data': 'phone' },
                { defaultContent: '<button class="btn btn-edit dtable-btn" id="btnEditUserManagement"><i class="fa fa-pencil"></i></button> <button class="btn btn-delete dtable-btn"  id="btnDeleteUserManagement"><i class="fa fa-trash"></i></button>' }
            ]
        });

        //closemodel
        $("#formwrapper").on("click", "#btn-close,.close", function () {
            $("#userManagementModal").hide();
        })

        //edit
        $("#TableUserManagement").on("click", "#btnEditUserManagement", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            getForm(id);
        })

        //delete
        $("#TableUserManagement").on("click", "#btnDeleteUserManagement", function () {
            let id = $(this).parents("tr").find("td").first().text().trim();
            $.ajax({
                type: "GET",
                url: "/UserManagement/Delete/" + id,
                dataType: 'JSON',
                success: function () {
                    $('#TableUserManagement').DataTable().ajax.reload(null, false);
                }
            });

        })


        //add
        $("#btnAddUser").on("click", function () {
            getForm();
        })

        //save
        $("#formwrapper").on("click", "#btnSaveUserManagement", function () {

            data = $("#FormUserManagement").serializeArray();
            $.ajax({
                type: "POST",
                url: "/UserManagement/SaveForm",
                dataType: 'JSON',
                data: data,
                success: function () {
                    $('#TableUserManagement').DataTable().ajax.reload(null, false);
                    ToastMessage(data);


                }
            });
            $("#userManagementModal").hide();
        });

        function getForm(id) {
            data = { "Id": id }
            $.ajax({
                type: "Get",
                url: "/UserManagement/GetForm",
                dataType: 'html',
                data: data,
                success: function (htmlresult) {
                    $("#formwrapper").html(htmlresult);
                    $("#userManagementModal").show();
                },
            });
        }

    });

</script>


